* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('../data/image/menubg.png'); /* Ajout de l'image de fond */
    background-size: cover; /* L'image couvre toute la surface */
    background-position: center center; /* L'image est centrée */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
}

/* Entête */
header {
    background-color: #c8102e;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 i {
    margin-right: 10px;
}

h2 {
    color: #cc0000; /* Rouge foncé pour le titre */
}



.btn-secondary {
    background-color: #ff6666 !important; /* Rouge vif */
    border-color: #cc0000 !important; /* Rouge foncé */
    color: #ffffff !important; /* Texte blanc */
    font-weight: bold; /* Texte en gras */
    border-width: 3px; /* Bordure plus épaisse */
    box-shadow: 0 5px 15px rgba(255, 102, 102, 0.5); /* Ombre forte */
    padding: 10px 20px; /* Espacement interne pour un bouton plus large */
    text-transform: uppercase; /* Texte en majuscules */
    letter-spacing: 1px; /* Espacement entre les lettres */
    transition: all 0.3s ease; /* Animation fluide au survol */
}

.btn-secondary:hover {
    background-color: #cc0000 !important; /* Rouge encore plus foncé au survol */
    border-color: #990000 !important; /* Bordure rouge intense */
    box-shadow: 0 8px 20px rgba(204, 0, 0, 0.7); /* Ombre renforcée au survol */
    transform: scale(1.05); /* Légère mise en avant au survol */
    color: #ffffff !important; /* Maintenir le texte blanc */
}


.btn-primary {
    background-color: #c8102e !important; /* Rouge vif */
    border-color: #c8102e !important;
}

.btn-primary:hover {
    background-color: #c8102e!important; /* Rouge plus foncé au survol */
    border-color: #c8102e !important;
}


.card {
    background-color: rgba(255, 255, 255,0.7) !important;  /* Rendre le fond de la carte transparent */
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: none; /* Supprimer l'ombre si elle est inutile */
}
.card-body {
    
   
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    padding: 20px; 
}