/* assets/style.css */
html, body {
    height: 100%; /* S'assurer que le corps occupe toute la hauteur */
    margin: 0; /* Éliminer les marges par défaut */
    overflow: hidden; /* Empêche le défilement */
    background: linear-gradient(180deg, #0d1b2a, #1b2631); /* Dégradé de fond */
    font-family: 'Arial', sans-serif; /* Police de caractères moderne */
}

#app {
    height: 100%; /* Occupe toute la hauteur de la fenêtre */
    display: flex; /* Utiliser flex pour éviter le défilement */
    flex-direction: column; /* Disposer les éléments en colonne */
}

header {
    background: rgba(0, 123, 255, 0.8); /* Couleur de fond semi-transparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre portée pour le header */
}

header h1 {
    margin: 0; /* Supprimer les marges par défaut */
    font-size: 2.5rem; /* Taille de police du titre */
}

.d-flex {
    flex: 1; /* Remplir toute la hauteur */
    display: flex; /* Afficher en flex pour le map et l'inventaire */
}

#map {
    flex: 1; /* La carte prend tout l'espace restant */
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); /* Bordure inférieure pour séparer le map de l'inventaire */
}

.inventory {
    display: flex;
    flex-direction: column; /* Conserve l'orientation verticale du titre */
    flex-wrap: nowrap; /* Empêche le retour à la ligne */
    flex: 0 0 10%; /* Réduire la taille de l'inventaire pour le rendre plus large */
    height: 400px; /* Hauteur fixe de l'inventaire */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    transition: background 0.3s;
}



.inventory h2 {
    margin-bottom: 1rem; /* Espacement inférieur du titre */
    text-align: center; /* Centrer le titre */
    font-size: 1.5rem; /* Taille de police du titre de l'inventaire */
    color: #00bfff; /* Couleur du texte du titre */
    width: 100%; /* S'assurer que le titre occupe toute la largeur */
}

.list-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding: 0;
}

.list-group-item {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;
    margin: 5px;
    transition: background 0.3s, transform 0.2s;
}


.list-group-item:hover {
    background: rgba(255, 255, 255, 0.4); /* Changement de fond au survol */
    cursor: pointer; /* Changer le curseur au survol */
    transform: scale(1.05); /* Effet de mise à l'échelle au survol */
}

/* styles pour le bouton */
#actionButton {
    width: 100%; /* Prendre toute la largeur */ 
    border-radius: 8px; /* Coins arrondis pour le bouton */
    transition: background 0.3s, transform 0.2s; /* Transitions pour un effet doux */
   
}

#actionButton:hover {
    background: rgba(0, 123, 255, 0.8); /* Changement de fond au survol */
    transform: scale(1.05); /* Effet de mise à l'échelle au survol */
}


.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active dans Vue 2.1.8+ */ {
    opacity: 0;
}




